body {
  padding: 20px 50px 0 50px;
  margin: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.base-currency-container {
  height: 90vh;
  width: 20vw;
}

.currency-container {
  height: 90vh;
  width: 70vw;
  overflow-y: scroll;
}
